.borda {
    border: 2px rgb(0, 0, 0) solid;
    align-items: center;
}

.c {
    margin: 20px;
    text-align: center;
    object-position: center;
}
.a {
    padding: 2px;
    margin: 15px 30px;
}

.m {
    margin: 20px;
}
.letra {
    font-family: cursive;
    color: rgb(0, 0, 0), 0, 0);
}
.fundo{
    background-color: rgb(153, 153, 153);
}
.mi {
    margin: 18px;
}
.tl {
    font-size: 27px;
}

